# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grut

## Dependency directory
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into
node_modules

# eBook 
*.epub/pub
*.mobi
*.pdf
*.txt
*.ini
